@model ListaLanches

@{
    ViewData["Title"] = "Lanches";
}

<h1>@ViewData["Titulo-Lista"] - @Model.CategoriaAtual</h1>
<hr />

@foreach(var item in Model.Lanches)
{
        <partial name="_LancheResumo" for="@item"/>
        <p>@item.Nome</p>
}

