html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*LanchesView*/
.lanche{
  display: flex;
}
.lanche .image{
  width: 15%;
  height: 15%;
  padding: 10px;
}
.lanche .image img{
  border-radius: 50%;
  box-shadow: 5px 5px 10px #000000;
}
.detalhes>p>span{
  font-weight: 600;
  font-size: 1.2rem;
}